# npm local packages and supporting files
node_modules/
package-lock.json

# bundled modules and supporting files
scripts/bundle.js
scripts/bundle.js.map

# Visual Studio cache directory
.vs/

# user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
