#spccSource, #spccHtml {
	height: 72vh;
}

#spccPreview {
	max-height: 65vh;
	margin-bottom: 8px;
	overflow: auto;
	border: 1px solid #ccc;
}

#spccPreview > pre {
	margin: 0;
}

.spcc-message {
	margin: 8px;
}

.spcc-button {
	float: right;
}

.hljs {
	overflow-x: hidden !important;
}