body {
	margin: 0;
}

#spccSource {
	height: calc(100vh - 64px);
}

#spccPreview {
	height: calc(100vh - 135px);
	overflow: auto;
	margin-bottom: 8px;
	border: 1px solid #ccc;
}

#spccPreview > pre {
	margin: 0;
}

.spcc-button-right {
	float: right;
	margin-left: 16px;
}

.hljs {
	overflow-x: hidden !important;
}