#spccPreview {
	padding: 8px;
	margin-bottom: 8px;
	border: 1px solid #eee;
}

#spccPreview > pre {
	margin: 0;
}

#spccSource, #spccHtml {
	height: 60vh;
}

#spccPreview {
	height: 55vh;
	overflow: auto;
}